<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/wheel.css" />
    <link rel="stylesheet" href="/styles/confetti.css" />
    <title><%= data.title %></title>
  </head>
  <body>
    <div class="container centered-container">
      <h1><%= data.title %></h1>

      <div class="floating-container">
        <h3>Contestants</h3>
        <div class="centered-image">
          <img
            src="/resources/Odds.jpg"
            height="250px"
            alt="Your Image Alt Text"
          />
        </div>
        <form class="form">
          <% data.contestants.forEach(item => { %>
          <div class="inputGroup">
            <div style="width: 85%">
              <input
                id="<%= item.name %>"
                name="<%= item.name %>"
                type="checkbox"
                <%= item.enabled ? 'checked' : '' %> 
                <%= item.enabled ? '' : 'disabled' %>
              /><label for="<%= item.name %>"><%= item.name %></label>
            </div>
            <% if (item.enabled) { %>
            <div style="width: 15%" >
              <button
                class="close"
                aria-label="Close"
                onclick="deleteItem('<%= item.name %>');"                
              ></button>
            </div>
            <% } %>
          </div>
          <% }); %>
        </form>
      </div>

      <div class="wrapper">
        <div class="wheelContainer">
          <div class="spinBtn">Spin</div>
          <div class="wheel"></div>
          <div class="redPixel"></div>
        </div>
      </div>

      <div class="result-container">
        <h1>Winner:</h1>
        <p id="winner"></p>
      </div>
    </div>

    <script src="/scripts/script.js"></script>
    <script src="/scripts/wheel.js"></script>
  </body>
</html>
