<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/wheel.css" />
    <title><%= data.title %></title>
  </head>
  <body>
    <div class="container centered-container">
      <h2><%= data.title %></h2>
      
      <div class="floating-container">
        <h3>Contestants</h3>
        <div class="centered-image">
          <img
            src="/resources/Odds.jpg"
            height="250px"
            alt="Your Image Alt Text"
          />
        </div>
        <form class="form">
          <% data.contestants.forEach(item => { %>          
          <div class="inputGroup">
            <div style="width:85%">
              <input id="<%= item.name %>" name="<%= item.name %>" type="checkbox" checked /><label
                for="<%= item.name %>"
                ><%= item.name %></label
              >
            </div>
            <div style="width:15%">
              <button class="close" aria-label="Close" onclick="deleteItem('<%= item.name %>');"></button>
            </div>
          </div> 
          <% }); %>     
        </form>
      </div>

      <div class="wrapper">
        <div class="wheelContainer">
          <div class="spinBtn">Spin</div>
          <div class="wheel"></div>
        </div>
      </div>
    </div>

    <script src="/scripts/names.js"></script>
    <script src="/scripts/wheel.js"></script>
  </body>
</html>
